:root {
  --white-text: rgba(255, 255, 255, 1);
  --white-text06: rgba(255, 255, 255, 0.6);
  --black-text: rgba(33, 33, 33, 1);
  --blue-hover: rgba(33, 150, 243, 1);
  --grey-text: rgba(117, 117, 117, 1);
}

.logo {
  color: var(--blue-hover);
}

.title-text {
  color: var(--black-text);
}
.b-title,
.btn-title,
.a-title {
  color: var(--white-text);
}
.btn-title {
  background-color: rgba(33, 150, 243, 1);
}
.text {
  color: var(--grey-text);
}
.contacts {
  color: var(--white-text06);
}
body {
  background-color: burlywood;
}
